#banner {
   width: 100%;
   height: 15em;
   object-fit: cover;
}

h1 {
    color: rgb(41, 43, 64);
    font-weight: bold;
  }
  
  p {
    color: rgb(70, 70, 31);
  }
  
  em {
    font-weight: bold;
    text-decoration: underline;
  }

  a {
    border-radius: 0.5em;
    padding: 0.7em;
    background-color: white;
    border-color: black;
    border-style: solid;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 1em;
    color: rgb(55, 53, 47);
  }

  #Googlecal{
    width: 4em;
    height: 4em;
    object-fit: cover;
    border-radius: 0.5em;
  }

  #Habitica{
    width: 4em;
    height: 4em;
    object-fit: cover;
    border-radius: 0.5em;
  }

  body{
    font-family: monospace;
    color: rgb(55, 53, 47);
  }