#bannerimage {
    width: 100%;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/803/347/759/anime-natural-light-landscape-forest-studio-ghibli-hd-wallpaper-preview.jpg);
    height: 405px;
    background-color: purple;
    background-position: center;
  }

h1 {
    color: rgb(41, 43, 64);
    font-weight: normal;
  }
  
  p {
    color: rgb(70, 70, 31);
  }
  
  em {
    font-weight: bold;
    text-decoration: underline;
  }
  a {
    background-color: aliceblue;
  }
  body{
    font-family: monospace;
  }