#banner {
   width: 100%;
   height: 100px;
   object-fit: cover;
}

h1 {
    color: rgb(41, 43, 64);
    font-weight: normal;
  }
  
  p {
    color: rgb(70, 70, 31);
  }
  
  em {
    font-weight: bold;
    text-decoration: underline;
  }
  a {
    background-color: aliceblue;
  }
  body{
    font-family: monospace;
  }